<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coronatracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:name=".MyApplication"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoronaTracker">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OTPLogin.SubmitOTPActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".OTPLogin.SendOPTActivity"
            android:exported="true">

        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".CALLnSMS.CallActiviy"
            android:exported="true" />
        <activity
            android:name=".API_State.StateDetailActivity"
            android:exported="true" />
        <activity
            android:name=".News.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".News.NewsDetailActivity"
            android:exported="true" />
        <activity
            android:name=".News.NewsActivity"
            android:exported="true" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".API_State.StateActivity"
            android:exported="true" />
        <activity
            android:name=".API_Country.CountryActivity"
            android:exported="true" />
        <activity
            android:name=".API_Country.CountryDetailActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>